PORT=5000
NODE_ENV=development

# MongoDB Atlas — mongodb.com/atlas (free tier)
MONGODB_URI=mongodb+srv://mern_book_store:centvin213@cluster0.i1tm2lt.mongodb.net/german

# JWT
JWT_SECRET=centvin213
JWT_EXPIRES_IN=7d

# Groq — FREE at console.groq.com
GROQ_API_KEY=your_groq_api_key_here

# Cloudinary (cloudinary.com → Dashboard)
CLOUDINARY_CLOUD_NAME=dwyjrxtq9
CLOUDINARY_API_KEY=329961643734558
CLOUDINARY_API_SECRET=70_md09TFC7Q9fqRhAdPoI2mAl4

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
